<%= form_with model: @dealer_form, local: true do |form| %>
     <%= hidden_field_tag :user_id, user_id%>
    <div class="field">
        <%= form.label :bagde_name %>
        <%= form.text_field :badge_name, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :business_name %>
        <%= form.text_field :business_name, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :type_of_merchandise_or_service %>
        <%= form.text_field :type_of_merchandise_or_service, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :company_website_address %>
        <%= form.text_field :company_website_address, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :number_of_spaces %>
        <%= form.text_field :number_of_spaces, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :display_require_AC_power %>
        <%= form.text_field :display_require_AC_power, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :number_of_memberships %>
        <%= form.text_field :number_of_memberships, class: 'form-control' %>
    </div>
        <div class="field">
        <%= form.label :name_and_age_of_members %>
        <%= form.text_field :name_and_age_of_members, class: 'form-control' %>
    </div>
    <%if current_user.admin == true%>
    <div class="field">
        <%= form.label :approved %>
        <%= form.text_field :approved, class: 'form-control' %>
    </div>
    <%end%>
        <div class="actions">
        <%= form.submit 'Update dealer_form', class: 'btn btn-primary'%>
        </div>
    <% end %>