<main role="main" class="container">

<h1>Dealer Forms</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Merch/Service</th>
      <th scope="col">Website</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @dealer_forms.each do |dealer_form| %>
    <tr>
        <td><%= dealer_form.business_name %></td>
        <td><%= dealer_form.email_address %></td>
        <td><%= dealer_form.type_of_merchandise_or_service %></td>
        <td><%= dealer_form.company_website_address %></td>
        
    </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'Back', eventinfo_path %> <br> 
</p>
</main><!-- /.container -->