<%= form_with model: @user, local: true do |form| %>
     
    <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :state %>
        <%= form.text_field :state, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :zip %>
        <%= form.text_field :zip, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :age %>
        <%= form.text_field :age, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :membership_type %>
        <%= form.text_field :membership_type, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :email_address %>
        <%= form.text_field :email_address, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone, class: 'form-control' %>
    </div>
        <div class="actions">
        <%= form.submit 'Update user', class: 'btn btn-primary'%>
        </div>
    <% end %>