<% content_for :content do %>
    <main role="main" class="container">
<%= form_with model: @user, local: true do |form| %>
     
    <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :middle_name %>
        <%= form.text_field :middle_name, class: 'form-control' %>
    </div>
        <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :state %>
        <%= form.select :state, options_for_select(["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"], selected: @user.state), class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :zip %>
        <%= form.text_field :zip, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :age %>
        <%= form.text_field :age, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :membership_type %>
        <%= form.select :membership_type, options_for_select(["Consuite Giveaway", "Banquet Tickets", "Child Pre-Regitration", "Adult Pre-Registration"], selected: @user.membership_type), class: 'form-control' %>
    </div>

    <%if current_user.admin == true%>
    <div class="field">
        <%= form.label :admin %>
        <%= form.select :admin, options_for_select(["false", "true"], selected: @user.admin),class: 'form-control' %>
    </div>

    <%end%>
        <div class="actions">
        <%= form.submit 'Update user', class: 'btn btn-primary'%>
        </div>
    <%end%>
    <%end%>
    </main>