<main role="main" class="container">

<h1>User Forms</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'show', user_path(user)%>
        <%= link_to 'edit', edit_user_path(user)%>
        <%= link_to 'destroy', user_path(user), method: :delete %>
        </td>
        
    </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'Home', home_path %> <br> 
</p>
</main><!-- /.container -->