<% content_for :content do %>
    <main role="main" class="container">
<%= form_with model: @gm_form1, local: true do |form| %>
     <%= hidden_field_tag :user_id, user_id%>
    <div class="field">
        <%= form.label :name_on_badge %>
        <%= form.text_field :name_on_badge, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :t_shirt_size %>
        <%= form.select :t_shirt_size, options_for_select(["S", "M","L","XL","2X","3X","4X"], selected: @gm_form1.t_shirt_size), class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :info_for_staff %>
        <%= form.text_field :info_for_staff, class: 'form-control' %>
    </div>
    <%if current_user.admin == true%>
    <div class="field">
        <%= form.label :approved %>
        <%= form.select :approved, options_for_select(["false","true"], selected: @gm_form1.approved),class: 'form-control' %>
    </div>
    <%end%>
        <div class="actions">
        <%= form.submit 'Update gm_form1', class: 'btn btn-primary'%>
        </div>
    <% end %>
    <%end%>
    </main>