<%= form_with model: @registration_form, local: true do |form| %>
     <%= hidden_field_tag :user_id, user_id%>
    <div class="field">
        <%= form.label :different_prices %>
        <%= form.text_field :different_prices, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :payment_type %>
        <%= form.text_field :payment_type, class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :coupon_codes %>
        <%= form.text_field :coupon_codes, class: 'form-control' %>
    </div>
        <div class="actions">
        <%= form.submit 'Update Registration', class: 'btn btn-primary'%>
        </div>
    <% end %>