<%= form_with model: @registration_form, local: true do |form| %>
     <%= hidden_field_tag :user_id, user_id%>
    <div class="field">
        <%= form.label :different_prices %>
        <%= form.select :different_prices, options_for_select([10, 25, 35, 17.50], selected: @registration_form.different_prices),class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :payment_type %>
        <%= form.select :payment_type, options_for_select(["credit", "debit"], selected: @registration_form.payment_type),class: 'form-control' %>
    </div>
    <div class="field">
        <%= form.label :coupon_codes %>
        <%= form.text_field :coupon_codes, class: 'form-control' %>
    </div>
        <div class="actions">
        <%= form.submit 'Update Registration', class: 'btn btn-primary'%>
        </div>
    <% end %>