<% provide(:title , 'Home')%>
<% content_for (:headerImage) do %>
  <%= image_tag("MSC27TempBannerRed.jpg", alt: "MidSouthCon 37, March 15-17, 2019, Memphis, TN") %>
<%end%>
<% content_for :content do %>
  <main role="main" class="container">
  <div class="row">
  <div class="col guest-of-honor">
    <div class="row">
      <div class="col">
        <h4><%= link_to "Timothy Zahn - Author Guest of Honor", authorgoh_path %></h4>
      </div>
      <div class="col">
        <%= image_tag("Zahn-Pub-Photo-Color-240x300.jpg", alt: "Timothy Zahn - Author Guest of Honor") %>
      </div>
    </div>
  </div>
  
  <div class="col guest-of-honor">
    <div class="row">
      <div class="col">
        <%= image_tag("sam_head240X300.jpg", alt: "Sam Flegal - Artist Guest of Honor") %>
      </div>
      <div class="col">
        <h4><%= link_to "Sam Flegal - Artist Guest of Honor", artistgoh_path%></h4>
      </div>
    </div>
  </div>
  </div>
  
  <div class="row">
  <div class="col guest-of-honor">
    <div class="row">
      <div class="col">
        <h4><%= link_to "Tom Nguyen - Comics Guest of Honor", comicsgoh_path %></h4>
      </div>
      <div class="col">
        <%= image_tag("Tom-Nguyen-240x300.jpg", alt: "Tom Nguyen - Comics Guest of Honor") %>
      </div>
    </div>
  </div>
  
  <div class="col guest-of-honor">
    <div class="row">
      <div class="col">
        <%= image_tag("JJMHeadNew.jpg", alt: "John Jackson Miller - Toastmaster") %>
      </div>
      <div class="col">
        <h4><%= link_to "John Jackson Miller - Toastmaster", toastmaster_path %></h4>
      </div>
    </div>
  </div>
  </div>
  
  <div class="row">
  <div class="col guest-of-honor">
    <div class="row">
      <div class="col">
        <h4><%= link_to "Jim Beall - Science Guest of Honor", sciencegoh_path %></h4>
      </div>
      <div class="col">
        <%= image_tag("Jim-Beall-2018-photo240x300.jpg", alt: "Jim Beall - Science Guest of Honor") %>
      </div>
    </div>
  </div>
          
  <div class="col guest-of-honor">
    <div class="row">
      <div class="col">
        <%= image_tag("Batman-50-Jim-Lee-Cover-240x300.jpg", alt: "Michael & Margie Vizcarra Cox - Costuming Guests of Honor") %>
      </div>
      <div class="col">
        <h4><%= link_to "Michael & Margie Vizcarra Cox - Costuming Guests of Honor", costuminggoh_path %></h4>
      </div>
    </div>
  </div>
  </div>
  
  <div class="row">
  <div class="col guest-of-honor">
    <div class="row">
      <div class="col">
        <h4><%= link_to "Gordon Van Gelder - Editor Guest of Honor", editorgoh_path %></h4>
      </div>
      <div class="col">
        <%= image_tag("van-gelder-gordon-april-2017-pic-by-Leslie-Howle240x300.jpg", alt: "Gordon Van Gelder - Editor Guest of Honor - Photo credit: Leslie Howle") %>
      </div>
    </div>
  </div>
  
  <div class="col-4 col-sm-6 guest-of-honor">
    <div class="row">
      <div class="col-8 col-sm-6">
        <%= image_tag("jolly-r-blackburn.jpg", alt: "Jolly Blackburn - Gaming Guest of Honor") %>
      </div>
      <div class="col">
        <h4><%= link_to "Jolly Blackburn - Gaming Guest of Honor", gaminggoh_path %></h4>
      </div>
    </div>
  </div>
  </div>
  </main><!-- /.container -->
<%end%>
