<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if user_signed_in? %>
      
  <div>
    <% if yield :headerImage %>
      <div class="container-fluid d-flex flex-row justify-content-center flex-fill conbanner">
        <%= yield :headerImage %>
      </div>
    <% end %>
    

    <div class="container text-light">
      <div class="row">
        <div class="col d-flex">
          <div class="col-1">
            <ul class="left-nav nav nav-fill flex-column align-self-start">
              <li class="nav-item"><%= link_to "Information", eventinfo_path %></li>
              <li class="nav-item"><%= link_to "Registration", new_user_registration_path %></li>
              <li class="nav-item"><%= link_to "Schedule", schedule_path%></li>
              <li class="nav-item"><%= link_to "Panelists", panelist_forms_path%></li>
              <li class="nav-item"><%= link_to "Gaming", gm_form2s_path%></li>
              <li class="nav-item"><%= link_to "Dealers", dealer_forms_path%></li>
              <li class="nav-item"><%= link_to "Hotels", hotels_path%></li>
              <li class="nav-item"><%= link_to "Pricing", pricinginformation_path%></li>
              <li class="nav-item"><%= link_to "Home", home_path %></li>
            </ul>
          </div>

          <div class="col">
            <% yield :content %>
          </div>

          <ul class="col col-1 nav nav-fill right-nav flex-column ml-auto align-self-start">
            <%if current_user.admin == true%>
            <li class="nav-item"><%= link_to "Profile Page/Admin", user_path(current_user.id) %></li>
            <%else%>
            <li class="nav-item"><%= link_to "Profile Page", user_path(current_user.id) %></li>
            <%end%>
            <li class="nav-item"><%= link_to "User Index", users_path%></li>
            <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
          </ul>
        </div>        
      </div>
  </div>
  <%else%>
  <div>
    <% if yield :headerImage %>
      <div class="container-fluid d-flex flex-row justify-content-center flex-fill conbanner">
        <%= yield :headerImage %>
      </div>
    <% end %>

    <div class="container text-light">
      <div class="row">
        <div class="col d-flex">
          <div class="col-1">
            <ul class="left-nav nav nav-fill flex-column align-self-start">
              <li class="nav-item"><%= link_to "Information", eventinfo_path %></li>
              <li class="nav-item"><%= link_to "Registration", new_user_registration_path %></li>
              <li class="nav-item"><%= link_to "Schedule", schedule_path%></li>
              <li class="nav-item"><%= link_to "Panelists", panelinfo_path%></li>
              <li class="nav-item"><%= link_to "Gaming", gm_form2s_path%></li>
              <li class="nav-item"><%= link_to "Dealers", dealer_forms_path%></li>
              <li class="nav-item"><%= link_to "Hotels", hotels_path%></li>
              <li class="nav-item"><%= link_to "Pricing", pricinginformation_path%></li>
              <li class="nav-item"><%= link_to "Home", home_path %></li>
            </ul>
          </div>

          <div class="col text-light">
            <%= yield :content %>
          </div>

          <ul class="col col-1 nav nav-fill right-nav flex-column ml-auto align-self-start">
            <li class="nav-item"><%= link_to "Signup", new_user_registration_path %></li>
            <li class="nav-item"><%= link_to "Login", new_user_session_path %></li>
          </ul>
        </div>        
      </div>
  </div>
  <%end%>

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
